<mat-accordion>
  <mat-expansion-panel *ngFor="let media of catalogItem.media.remote" (opened)="onRequestDownloadOptions(media)" hideToggle="true">
    <mat-expansion-panel-header>
      <div class="panel_header">
        {{media.name}}
        <mat-progress-bar *ngIf="media.queued==true " mode="query"></mat-progress-bar>
        <mat-progress-bar *ngIf="media.downloading==true && (media.percentCompleted==0 || media.percentCompleted==null)"
          mode="indeterminate"></mat-progress-bar>
        <mat-progress-bar *ngIf="media.downloading==true && media.percentCompleted>0" mode="determinate" [value]="media.percentCompleted"></mat-progress-bar>
      </div>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item *ngFor="let downloadOption of media.downloadLocations">
        <a href="javascript:void(0);" (click)="onDownloadSelected(catalogItem, media, downloadOption)">{{downloadOption.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
