
<mat-accordion>
    <mat-expansion-panel *ngFor="let media of Item.Media.Remote" (opened)="OnRequestDownloadOptions(media)">
      <mat-expansion-panel-header>
        <div class="panel_header">
        {{media.Name}}
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
        </div>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item *ngFor="let downloadOption of media.DownloadLocations">
          <a href="javascript:void(0);" (click)="OnDownloadSelected(Item, media, downloadOption)">{{downloadOption.Name}}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
</mat-accordion>