mat-card {
	width: 200px;
	height: 300px;
	min-width: 200px;
}

.card-image{
	min-width: 200px;
    max-height: 228px;
    overflow: hidden;
}

.card-image img {
	width:100%;
}

mat-card>mat-card-title {
	text-overflow: ellipsis;
	height: 35px;
	overflow: hidden;
	font-size: 16px;
	font-weight: bold;
}

mat-card>mat-card-actions:last-child {
	padding-bottom: 10px!important;
	right: 20px!important;
	position: absolute!important;
	bottom: 10px;
}