/* .app {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-top: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
} */
.app-toolbar{
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    position: fixed;
}
.app-content{
    position: fixed;
    top: 65px;
    width: 100%;
    height: calc(100% - 65px);
    overflow: auto;
}