.app-toolbar{
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    position: fixed;
}
.app-content{
    position: fixed;
    top: 75px;
    width: calc(100% - 10px);
    height: calc(100% - 85px);
    overflow: auto;
}