<div *ngIf="Item!=null" class="item-detail_left elevation-z3">
  <img class="mat-elevation-z10" src="{{catalogItem.poster}}">
</div>
<div *ngIf="Item!=null" class="item-detail_right">
  <div class="item-detail_title">
    <h1>
      <b>{{catalogItem.Name}}</b>
    </h1>
    <p>{{catalogItem.plot}}</p>
  </div>
  <div class="item-detail_content mat-elevation-z10">
    <mat-tab-group selectedIndex=0>
      <mat-tab label="Remote">
        <catalog-item-remote-media [catalogItem]="catalogItem" (updateDownloadLocations)="onUpdateCatalogItemOptions($event)" (downloadSelected)="onDownloadSelected($event)">
        </catalog-item-remote-media>
      </mat-tab>
      <mat-tab label="Local">
        <catalog-item-local-media [catalogItem]="catalogItem"></catalog-item-local-media>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
